body{
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
img{
    max-width: 20%;
}
._8esk {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
